html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

a,
a:focus,
a:hover {
  text-decoration: none;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ”;
  content: none;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}

.clearfix {
  zoom: 1;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need ‘cellspacing=”0″‘ in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.col-md-4 {
  float: left;
  padding: 0 16px;
  position: relative;
}

/* 
body{
  background: #e6e6e6;
} */
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
  color: #178dc4;
  background-color: transparent;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.container-wrapper {
  margin-left: unset !important;
  margin-right: unset !important;
  padding: 0;
  width: 100% !important;
}

.navbar-inverse {
  height: 70px;
  line-height: 70px;
  /* position: fixed; */
  top: 0;
  width: 100%;
  background: #fff;

  transition: all .4s ease-in;
  /* background-color: #fff;
    border-color: #f0f0f0;
    z-index: 100;
    box-shadow: 0 1px 10px rgba(0,0,0,.28); */
}

.navbar-header {
  height: 70px;
  line-height: 70px;
  top: 0;
  width: 1200px;
  margin: 0 auto;
}

.navbar-header img {
  width: 142px;
  margin-top: 7px;
  margin-left: 0;
}

.navbar-inverse .navbar-nav {
  float: right;
  height: 70px;
  flex-direction: row;
}

.navbar-inverse .navbar-nav>li {
  float: left;
}

.navbar-inverse .navbar-nav>li>a {
  color: #000;
  margin: 20px;
  padding: 6px 10px;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: #178dc4;
  background-color: transparent;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

ul.dropdown-menu.features_menu {
  min-width: 777px;
  padding: 15px;
}

.navbar-nav>li>.dropdown-menu {
  margin-top: -3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 15px 15px;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

ul.dropdown-menu.features_menu li.col-md-3 {
  height: 300px;
}

ul.dropdown-menu.features_menu h4 {
  color: #119ddc;
  font-size: 18px;
}

ul.dropdown-menu.features_menu ul li a {
  color: #000;
  text-decoration: none;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
  color: #119ddc;
  text-decoration: none;
}

.tmall {
  padding-top: 36px;
  padding-bottom: 36px;
  /* background: rgb(247, 247, 247); */
}

.wrapper {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

.wrapper .scroll-items {
  display: flex;
}

.wrapper .scroll-items a {
  flex: 1;
}

.wrapper h2 {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.wrapper .light {
  color: rgba(0, 0, 0, 0.56);
}

.wrapper p {
  margin: 0 0 10px;
  margin-bottom: 30px;
}

.light {
  color: rgba(0, 0, 0, 0.56);
}

.grid>* {
  box-sizing: border-box;
  clear: both;
  margin: 0;
  padding: 0;
  width: 24%;
  display: inline-block;
}

.tmall ul {
  padding-top: 48px
}

.tmall ul li {
  padding: 12px
}

.tmall ul li a {
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  position: relative;
  padding: 0 6px;
  text-align: center;
  width: 100%;
}

.tmall ul li a img {
  margin-top: -36px;
  height: 72px;
  border-radius: 10px;
  width: 110px;
}

.tmall ul li:nth-child(1) a img {
  margin-top: -48px;
  height: 72px;
  margin-bottom: -24px;
}

.tmall ul li a .title-1 {
  color: rgba(0, 0, 0, 0.87);
  margin-top: 8px;
  margin-bottom: 8px;
}

.tmall ul li a p {
  margin: 0 0 10px;
}

.tmall ul li a p.title-1 {
  font-size: 16px;
}

.tmall ul li:nth-child(1) a p.title-1 {
  margin-top: 26px;
}

strong {
  font-weight: 700;
}

.tmall ul li a p.margin2 {
  color: rgba(0, 0, 0, 0.56) !important;
  line-height: 20px;
  font-size: 14px;
}

.tmall ul li a .caption {
  font-size: 12px;
  color: #C2A661;
  font-weight: 400;
  opacity: 0.7;
  text-transform: none;
}

.tmall ul li a .caption {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}


.page-front .coffeehouse {
  background-image: linear-gradient(-180deg, #FCFCFC 0%, #FFF 100%);
  padding: 36px 0 36px 0;
  margin-bottom: -24px;
}

.page-front .coffeehouse .scroll-wrapper {
  position: relative;
}

.scroll-wrapper {
  overflow: hidden;
}

.page-front .coffeehouse .scroll-wrapper {
  position: relative;
  height: 249px;
}

.hidden {
  display: none !important;
}

.scroll-wrapper>* {
  margin-bottom: -24px;
  padding-bottom: 24px;
}

.scroll-wrapper .scroll-arrow-left {
  left: 24px;
}

/* .scroll-wrapper .scroll-arrow {
  border-radius: 50%;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  background: white;
  cursor: pointer;
  height: 28.8px;
  margin-top: -16px;
  position: absolute;
  padding: 2px 0px;
  text-align: center;
  top: 50%;
  width: 28.8px;
  z-index: 1;
} */

.page-front .coffeehouse .scroll {
  margin-right: 24px;
}

.page-front .coffeehouse .scroll .wrapper>div {
  display: table;
}

.card {
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.12);
  display: block;
  overflow: hidden;
  position: relative;
  padding: 18px;
}

a.card {
  color: inherit;
  margin-top: 12px;
  margin-bottom: 12px;
}

.card.thumbnail {
  box-sizing: border-box;
  display: inline-block;
  margin-right: 16px;
}

.card.thumbnail.rect {
  /* width: 288px; */
}

.card.thumbnail .preview {
  margin-top: -18px;
  margin-left: -19px;
  margin-right: -19px;
  height: 168px;
  width: calc(100% + 38px);
}

.card.thumbnail.rect .preview {
  height: 168px;
  width: calc(100% + 38px);
}

.card.thumbnail .tag {
  font-size: 14px;
  background: #C2A661;
  color: #FFF;
  position: absolute;
  padding: 4px 12px;
  left: 0px;
  top: 6px;
}

.card.thumbnail .tag+strong {
  display: inline-block;
  margin-top: 10px;
}

.page-front .coffeehouse .thumbnail.rect.card strong {
  white-space: initial;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.card.thumbnail:hover {
  box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.12);
  -ms-transform: translate3d(0, -4px, 0);
  -webkit-transform: translate3d(0, -4px, 0);
  transform: translate3d(0, -4px, 0);
}

.scroll-wrapper .scroll {
  height: 260px;
  overflow: hidden;
}

#content {
  margin: 0 auto;
}

#content section {
  margin: 40px 0;
}

#content section h2 {
  margin-top: 40px;
  position: relative;
  width: 150px;
  text-align: center;
  height: 40px;
  ;
  line-height: 40px;
  margin: 0 auto;
}

#content section h2::before {
  position: absolute;
  bottom: 25%;
  left: 0;
  display: block;
  content: '';
  width: 2px;
  height: 20px;
  /* border-radius: 50%; */
  background: #747474;
}

#content section h2::after {
  position: absolute;
  bottom: 25%;
  right: 0px;
  display: block;
  content: '';
  width: 2px;
  height: 20px;
  /* border-radius: 50%; */
  background: #747474;
}

.case a {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #1474ba;
  font-size: 14px;
  width: 367px;
  font-weight: 400;
  cursor: pointer;
  line-height: 19px;
}

.case a:hover {
  color: #23527c;
  text-decoration: underline;
}

.case a img {
  width: 100%;
}

.case i.tag {
  font-size: 14px;
  background: #C2A661;
  color: #FFF;
  position: absolute;
  padding: 4px 12px;
  right: 15px;
  top: 0;
  font-style: unset;
}

.case .row {
  height: 184px;

  width: 100%;
}

.case .row p {
  font-size: 16px;
  margin: 10px 0;
}

.case .case-card img {
  width: 100%;
}

.preview {
  background-size: cover;
}

.introduction h5 {
  line-height: 30px;
  width: 90%;
  margin: 0 auto;
  font-weight: normal;
}

/* 轮播图部分 */
#sliderCarousel {
  margin: 20px 0;
  margin-top: 0;
}

#sliderCarousel img {
  width: 100%;
  height: 400px;
}

footer {
  height: 50px;
  line-height: 50px;
  background: #1474ba;
}

footer p {
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 50px !important
}

/* about页面 */
.mainSamrtView {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-top: 1px solid #ddd;
  min-height: 67vh;
}

.left {
  float: left;
  width: 260px;
}

.left2 {
  background-color: #f5f5f5;
  padding-bottom: 20px;
}

.left2 h1 {
  font-size: 18px;
  line-height: 50px;
  color: #FFFFFF;
  background-image: url(../img/h1_bg.jpg);
  background-repeat: no-repeat;
  height: 50px;
  text-indent: 28px;
  font-weight: bold;
  margin-bottom: 15px;
}

.left2 li {
  font-size: 14px;
  line-height: 40px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #efefef;
  margin-right: 8px;
  margin-left: 8px;
  background-image: url(../img/li_bg.jpg);
  background-repeat: no-repeat;
  text-indent: 22px;
}

.left2 ul li.active,
.left2 ul li:hover {
  background-image: url(../img/li_bg2.jpg);
  background-repeat: no-repeat;
  color: #fff;
  font-weight: bold;
  display: block;
}

.left2 .aa2 {
  background-image: none;
  background-color: #dce8f6;
  color: #0e67be;
  font-weight: bold;
}

.left2 li a {
  display: block;
  font-weight: 400;
  color: #2788ad;
}


.left2 li a:hover {
  color: #fff;
  background-image: url(../img/li_bg2.jpg);
  background-repeat: no-repeat;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}


.left2 li ul li {
  background-image: none;
  background-color: #dce8f6;
  margin-bottom: 5px;
  line-height: 36px;
  margin: 1px 1px 0px 0px;
  text-indent: 36px;
  font-size: 13px;
}

.left2 li ul li a:hover {

  background-image: none;
  color: #0e67be;
  text-decoration: underline;
}

.left2 li ul li ul li {
  background-image: none;
  background-color: #fff;
  line-height: 28px;
  margin: 0px;
  text-indent: 48px;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #eaeaea;
}

.left2 li ul li ul li a {
  background-image: none;
  background-color: #fff;
}

.left2 li ul li ul li a:hover {
  background-image: none;
  line-height: 28px;

}




.lx {
  background-color: #f5f5f5;
  padding-bottom: 22px;
  margin-top: 20px;
  color: #666;
  font: 12px/1.231 Verdana, Arial, Helvetica, sans-serif, "宋体";
}

.lx h2 {
  padding-left: 8px;
}

.lx .phone {
  color: #666666;
  line-height: 20px;
  padding: 5px 8px;
  margin-bottom: -10px;
}

.lx .phone i {
  background: url(../img/Teln.gif) no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  background-size: contain;
  height: 25px;
}

.lx p {
  padding-right: 10px;
  padding-left: 12px;
  line-height: 24px;
  font-size: 14px;
}

.lx strong {
  font-size: 16px;
  margin-bottom: -20px;
  display: block;
}
.right{
  float: right;
}
.right-part {
  float: right;
  width: 900px;
}

.right h1 {
  font-size: 20px;
  font-weight: bold;
  color: #333333;
  /* background-image: url(../img/tub4.png); */
  background-repeat: no-repeat;
  background-position: 1px;
  text-indent: 22px;
  margin-bottom: 8px;
}

.right h1 span {
  font-family: 微软雅黑, 'Microsoft YaHei';
  color: rgb(208, 10, 1);
  font-size: 14px;
  display: inline-block;
}

.title {
  float: right;
  font-size: 14px;
  color: #999999;
  /* background-image: url(../img/home.png); */
  background-repeat: no-repeat;
  background-position: 1px;
  margin-top: 6px;
  padding-left: 18px;
}

.title a {
  color: #2788ad;
}

.title a:hover {
  color: #076184;
}


.about {
  padding-top: 15px;
  padding-left: 2px;
}

.about p {
  font-size: 14px;
  line-height: 24px;
  padding-top: 8px;
  padding-left: 8px;
}


.news {
  padding-bottom: 20px;
}

.news2 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;
  padding-bottom: 30px;
  padding-top: 20px;
}




.news-img {
  float: left;
  width: 200px;
  padding: 2px;
  border: 1px solid #dbdbdb;
  margin-top: 8px;
}

.news-img img {
  width: 200px;
}

.news-img img:hover {
  filter: alpha(opacity=60);
  -moz-opacity: 0.60;
  opacity: 0.60;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
  behavior: url(../js/PIE.htc);
}

.news3 {
  float: right;
  width: 670px;
  padding-top: 15px;
}

.news3 h3 {
  font-size: 16px;
  padding-bottom: 8px;
}

.news3 p {
  line-height: 24px;
  font-size: 14px;
  color: #999999;
}

.news3 h4 {
  border: 1px solid #dbdbdb;
  height: 26px;
  width: 100px;
  text-align: center;
  line-height: 26px;
  font-size: 12px;
  margin-top: 15px;
}

.news3 a {
  color: #666;
  text-decoration: none;
}

.news3 a:hover {
  color: #0d74db;

}

/* 产品系列 */
.product {}

.product ul {}

.product ul li {
  display: inline-block;
  width: 155px;
  height: 200px;
  margin-right: 21px;
  margin-top: 20px;
}

.product ul li img {
  width: 100%;
  height: 145px;
  margin-bottom: -2px;
}

.product ul li a {}

.product ul li a span {
  font-size: 14px;
  color: #666;
  display: block;
  text-align: center;
  border: 1px solid #ddd;
  border-top: 0;
  padding: 15px 0;
}

/* 企业文化 */
.w-list {
  margin-bottom: 15px;
}

.w-list .w-list-ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.w-list .w-list-ul li {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  display: block;
  border-bottom-color: #DDD;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
}

.w-list .w-list-ul li .w-list-pic {
  margin: 1px 0;
  display: block;
  min-height: 30px;
  float: left;
  overflow: hidden;
  font-size: 0;
}

.w-list-ul li .w-list-pic img {
  width: 54px;
  height: 54px;
  padding-right: 10px;
  border: none;
}

.w-list {
  margin-bottom: 15px;
}

.w-list .w-list-ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.w-list .w-list-ul li {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  display: block;
  border-bottom-color: #DDD;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
}

.w-list .w-list-ul li .w-list-title {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
}

.w-list .w-list-ul li .w-list-title .w-list-title-text {
  display: block;
  padding-right: 6px;
  color: #444;
  font-size: 14px;
  font-family: 'Microsoft YaHei';
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.w-list .w-list-ul li .w-list-title .w-list-title-text:hover {
  color: #444;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
}

.w-list .w-list-ul li .w-list-title .w-list-date {
  padding: 0;
  margin: 0;
  float: right;
  color: #999;
  font-size: 12px;
  font-family: 'Microsoft YaHei';
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  display: block;
}

.w-list .w-list-ul li .w-list-pic {
  margin: 1px 0;
  display: block;
  min-height: 30px;
  float: left;
  overflow: hidden;
  font-size: 0;
}

.w-list .w-list-ul li .w-list-pic img {
  width: 54px;
  height: 54px;
  padding-right: 10px;
  border: none;
}

.w-list .w-list-ul li .w-list-bottom {
  padding: 0;
  margin: 0;
}

.w-list .w-list-ul li .w-list-bottom span {
  display: inline-block;
}

.w-list .w-list-ul li .w-list-bottom .w-list-size {
  color: #999;
  font-size: 12px;
  font-family: 'Microsoft YaHei';
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  line-height: 18px;
  display: block;
}

.w-list .w-list-ul li .w-list-bottom .w-list-downNum {
  float: right;
  display: block;
  color: #CCC;
  font-size: 12px;
  font-family: 'Microsoft YaHei';
  line-height: 18px;
}

.w-list .w-list-ul li .w-list-bottom .w-list-downNum i {
  font-size: 12px;
  color: #CCC;
  padding-right: 3px;
}

.w-list .w-list-ul li.w-img-none {
  min-height: auto !important;
  height: auto !important;
}

.w-list .w-list-ul li.w-img-none .w-list-pic {
  display: none;
}

.w-list .w-list-ul li.w-img-none .w-list-pic img {
  width: 0px !important;
  height: 0px !important;
}

.w-list .w-list-ul li .w-list-bottom .w-display-none {
  display: none;
}

.w-list .w-list-ul li .w-display-none {
  display: none;
}

.f-clearfix:before,
.f-clearfix:after {
  content: "";
  display: table;
}

.f-clearfix:after {
  clear: both;
  overflow: hidden;
}

.f-clearfix {
  zoom: 1;
}

#view_listfiles_73_277436418 {
  top: 303px;
  left: 294px;
  z-Index: 73;
  width: 676px;
  height: 364px;
  position: absolute;
}

#view_text_75_277436418 {
  top: 65px;
  left: 294px;
  z-Index: 1;
  width: 383px;
  height: 33px;
  position: absolute;
}

#view_text_76_277436418 {
  top: 272px;
  left: 295px;
  z-Index: 76;
  width: 383px;
  height: 33px;
  position: absolute;
}

#view_banner_77_277436418 {
  top: 577px;
  left: 343px;
  z-Index: 77;
  width: 130px;
  height: 54px;
  position: absolute;
}

.view_banner_77_277436418_Style1_Item0 {
  height: 54px;
}

.view_banner_77_277436418_Style1_Item0 .w_container_wrap {
  height: 54px;
}


/* 轮播图 */

#ups-banner {
  background: #bebebe;
}

.swiper-container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.swiper-slide {
  position: relative;
}

.swiper-slide .content {
  width: 50%;
  max-width: 460px;
  position: absolute;
  right: 60px;
  bottom: 90px;
  z-index: 20;
}

@media screen and (max-width: 768px) {
  .swiper-slide .content {
    display: none;
  }
}

.swiper-slide .content .txt {
  padding: 20px;
  background: rgba(255, 255, 255, 0.85);
}

.swiper-slide .content .txt h3 {
  font-family: "BerlingskeSans Serif", Georgia, Times, serif;
  margin: 0;
  font-size: 2.3em;
  font-weight: normal;
}

.swiper-slide .content .txt p {
  margin: 5px 0 0;
  font-size: 1.2em;
}

.swiper-slide .content .link {
  border-radius: 25px;
  display: block;
  background: #008369;
  transition: .2s background;
  color: #fff;
  font-family: "BerlingskeSans Bd", Tahoma, helvetica, arial, sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.1em;
  padding: 10px 30px 10px;
  float: right;
  margin-top: 15px;
  text-decoration: none;
}

.swiper-slide .content .link:hover {
  background: #006a55;
}

.img-fix {
  margin-top: -25%;
  overflow: hidden;
}

.img-inner {
  transform: translateY(40%);
}

.swiper-container img {
  width: 100%;
  display: block;
}

.swiper-button-next,
.swiper-button-prev {
  background: none;
  top: auto;
  bottom: 30px;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 40px;
}

.swiper-button-next:before,
.swiper-button-prev:before {
  font-family: "upsicons";
  position: absolute;
  display: block;
  height: 54px;
  width: 50px;
  top: 0;
  left: 0;
  text-align: center;
  line-height: 54px;
  color: #fff;
  font-size: 68px;
}

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  display: none;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: 43px !important;
}

.swiper-button-prev:before {
  content: '\e628';
}

.swiper-button-next:before {
  content: '\e62a';
}


/* swiper轮播图插件 */
.swiper-container {}

.swiper-container .swiper-wrapper {}

.swiper-container .swiper-wrapper .swiper-slide {
  height: 343px;
}

.swiper-container .swiper-wrapper .swiper-slide.bg1 {
  background: url(../img/ups1.jpg)no-repeat;
  background-size: cover;

}

.swiper-container .swiper-wrapper .swiper-slide.bg2 {
  background: url(../img/ups2.jpg)no-repeat;
  background-size: cover;
}

.swiper-container .swiper-wrapper .swiper-slide.bg3 {
  background: url(../img/ups3.jpg)no-repeat;
  background-size: cover;
}
.swiper-container .swiper-wrapper .swiper-slide.bg4 {
  background: url(../img/ups4.jpg)no-repeat;
  background-size: cover;
}

.bottom-nav {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 30px;
  z-index: 10;
}

.ups-icon-videoplay {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  cursor: pointer;
}

.ups-icon-videoplay:before {
  font-family: "upsicons";
  content: "\e680";
  font-size: 28px;
  color: white;
}

.stop-status.ups-icon-videoplay:before {
  content: "\e681";
}

.swiper-pagination {
  position: relative;
  display: inline-block;
  height: 29px;
  vertical-align: middle;
}

#ups-banner .swiper-pagination-bullet {
  width: 18px;
  height: 18px;
  background: #fff;
  opacity: 1;
  box-sizing: border-box;
  border: 3px solid #fff;
  margin: 0 15px;
  vertical-align: middle;
}

#ups-banner .swiper-pagination-bullet-active {
  background: #ffb500;
}

.row-pic {
  height: 205px;
}

#content .bg-wrapper {
  background: url(../img/background-2.png)no-repeat 0px -318px;
  background-size: cover;
  height: 300px;
  width: 1200px;
  margin: 0 auto;
  margin-top: -200px;
  border-radius: 10px;
  margin-bottom: 100px;
}

.introduction .company {}

.company>div {
  display: inline-block;
  width: 575px;
}

.company>div:first-child {
  margin-right: 40px;
}

.company .left {
  width: 220px;
  height: 150px;
}

.company .left img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.company .right {
  text-align: left;
  width: 330px;
  margin-left: 0px;
}

.company .right h5 {
  width: 100%;
  position: relative;

  font-size: 16px;
  margin-left: 20px;
  display: inline-block;
  color: rgb(165, 165, 165);
  font-weight: normal;
}

.company .right h5::before {
  background: rgb(208, 9, 0);
  position: absolute;
  left: -17px;
  top: 6px;
  content: '';
  display: inline-block;
  width: 6px;
  height: 20px;
}

.company .right h5 span {
  color: rgb(208, 9, 0);
  font-weight: bold;
  font-size: 16px;
}

.company .right p {
  margin: 15px 0;
}

.company .right .text {
  margin: 0;
  color: rgb(102, 102, 102);
  font-size: 13px;
  line-height: 20px;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.wrapper .wrapper-mobile.noBottom {
  margin-bottom: 0;
}

/* 公司简介 */
.company-intr {}

.company-intr p {
  line-height: 26px;
}

.company-intr p:first-child {
  margin-bottom: 10px;
}

.company-intr .left {
  width: 450px;
}

.company-intr img {
  width: 400px;
  margin-left: 35px;
}

.job {
  border-bottom: 1px dashed #9c9c9c;
  padding-bottom: 10px;
  position: relative;
}

.job img {
  width: 100px;
  height: 100px;
  position: absolute;
  right: 1px;
  top: 0px;
}

.job .text {
  display: inline-block;
  width: 70%;
}

.job .text strong {
  line-height: 40px;
}

.job p {
  color: #777575;
  line-height: 24px;
  font-size: 14px;
}

/* 企业文化 */
.culture img {
  margin: 10px 0;
}

/* 公司沿革时间线 */
.timeline {
  padding-bottom: 80px
}

.timeline .tit {
  text-align: center
}

.timeline ul {
  background: url(../img/sy51.png) repeat-y center
}

.timeline .tit h6 {
  color: #666
}

.timeline .tit h5 {
  color: #333;
  margin: 15px 0 45px
}

.timeline li:before {
  background: url(../img/sy50.png) no-repeat center center;
  left: -53px;
  top: -8px;
  content: "";
  display: block;
  position: absolute;
  width: 17px;
  height: 17px
}

.timeline li h4:hover {
  color: #f8f8f8;
  transition: all 1s;
  transform: translateY(-15px)
}

.timeline li h4 {
  position: relative;
  display: block;
  text-decoration: none;
  font-family: lato;
  color: #ecf0f1;
  text-transform: uppercase;
  padding: 4px 0;
  transition: .5s;
  cursor: pointer;
}

.timeline li h4::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  top: 100%;
  left: 0;
  background: #3498db;
  transition: transform .5s;
  transform: scaleX(0);
  transform-origin: right
}

.timeline li h4:hover {
  color: #95a5a6
}

.timeline li h4:hover::after {
  transform: scaleX(1);
  transform-origin: left
}

.timeline li:nth-child(2n):before {
  background: url(../img/sy50.png) no-repeat center center;
  right: -54px;
  top: 12px;
  left: auto;
  content: "";
  display: block;
  position: absolute;
  width: 17px;
  height: 17px
}

.timeline li h4 {
  color: #333;
  transition: all 1s
}

.timeline li p {
  color: #666;
  margin-top: 10px;
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-height: 20px;
  font-size: 14px;
}

.future {
  text-align: center;
  color: #999;
  font-size: 12px;
}

.timeline li:nth-child(1) {
  margin-top: 0
}

.timeline li {
  float: right;
  width: 45%;
  text-align: left;
  position: relative;
  margin-top: 20px
}

.timeline li:nth-child(2n) {
  float: left;
  text-align: right;
  margin-top: 32px
}

.setcolor {
  display: inline-block;
  color: rgb(208, 10, 1);
  font-size: 16px;
  line-height: 16px;
  margin-top: 10px;
}

.newsCenter{}
.newsCenter.support img{
  width: 153px;
}
.newsCenter .text{
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
  margin-left: 20px;
}
.newsCenter .text a{
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
}
.newsCenter .text p{
  margin-top: 20px;
  font-size: 12px;
}
.newsCenter ul.list{
  margin-top: 40px;
  border-top: 1px dashed #999;
}
.newsCenter ul li{
  height: 35px;
  line-height: 35px;  
  border-bottom: 1px dashed #999;
}
.newsCenter ul li .icon{
  font-size: 18px;
  color: #666;
  vertical-align: middle;
}
.newsCenter ul li a{
  color: #666666;
  font-weight: normal;
  font-size: 12px;
}
.newsCenter ul li a:hover{
  color: #d00a01;
}
.newsCenter ul li .time{
  font-size: 12px;
  color: #666666;
  float: right;
}

.news-detail{}
.news-detail h5{
  font-size: 16px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}
.news-detail .article{
  border-top: 1px dashed #999;
  border-bottom: 1px dashed #999;
  padding:30px 0;
}
.news-detail .page{
  margin-top: 20px;
}
.news-detail .page p{
  margin:10px 0;
}
.news-detail .page span{
  font-size: 12px;
  margin-right: 10px;
  color: #000;
}
.news-detail .page a{
  font-size: 12px;
  color: #666666;
  cursor: pointer;
}



/* 员工风采 */
#DB_gallery ul,
#DB_gallery li {
  list-style: none;
  margin: 0;
  padding: 0
}

#DB_gallery img {
  border: none;
  vertical-align: top;
}

#DB_gallery .DB_imgSet {
  position: relative;
  width: 800px;
  overflow: hidden;
  padding: 0 40px;
  height: 586px;
}

#DB_gallery .DB_imgSet .DB_imgWin {
  height: 100%;
  max-height: 500px;
  overflow: hidden;
}
#DB_gallery .DB_imgSet .DB_imgWin img{
  width: 800px;
  max-height: 500px;
}
#DB_gallery .DB_imgSet .DB_page {
  position: absolute;
  top: 10px;
  font: 11px tahoma bold;
  padding: 5px;
  color: #ffffff;
  left: 60px;
}

#DB_gallery .DB_imgSet .DB_page .DB_current {
  color: #ffff00;
  font-size: 14px;
}

#DB_gallery .DB_imgSet .DB_page .DB_total {
  color: #ffcc00;
  font-size: 14px;
}
#DB_gallery .DB_imgSet .iconfont{
  position: absolute;
  top: 50%;
  margin-top: -100px;
  cursor: pointer;
  width: 30px;
  height: 60px;
  opacity: 0.5;
  font-size: 60px;
  color: #676767;
}
#DB_gallery .DB_imgSet .DB_prevBtn{
  left: -10px;
}
#DB_gallery .DB_imgSet .iconfont:hover{
  color: #fff;
}
#DB_gallery .DB_imgSet .DB_nextBtn {

  right: 10px;

}
#DB_gallery .DB_thumSet {
  position: absolute;
  margin-top: 10px;
  width: 800px;
  overflow: hidden;
  bottom: 0;
  
}

#DB_gallery .DB_thumSet .DB_thumMove {
  position: relative;
  white-space: nowrap;
  font-size: 0
}

#DB_gallery .DB_thumSet .DB_thumMove li {
  display: inline;
  margin-right: 9px
}
#DB_gallery .DB_thumSet .DB_thumMove li img{
  width: 126px;
  height: 77px;
}
#DB_gallery .DB_thumSet .DB_prevPageBtn {
  position: absolute;
  top: 0;
  cursor: pointer;
  left: 0;
}

#DB_gallery .DB_thumSet .DB_nextPageBtn {
  position: absolute;
  top: 0;
  cursor: pointer;
  right: 0;
}

#DB_gallery .DB_thumSet .DB_thumLine {
  position: absolute;
  width: 123px;
  height: 73px;
  border: 2px solid rgb(255 245 57);
  top: 0;
  border-radius: 2px;
}

.DB_gallery {
  position: absolute;
  left: 50%;
  top: 46%;
  transform: translate(-50%, -50%);
}

.picture-list {
  overflow: hidden;
  width: 700px;
  height: 135px;
  margin-bottom: 20px;
}
.picture-list .pic-title{
  font-size: 14px;
  color: #000;
  border-top: 1px dashed #ccc;
  padding:10px 0;
}
.picture-list:first-of-type .pic-title{
  border:0;
}
.picture-list .pic-title span{
  font-weight: bold;
  color: rgb(8, 103, 167);
}

.picture-list ul {
  padding: 0;
}

.picture-list ul li {
  list-style: none;
  display: inline-block;
  width: 225px;
  height: 135px;
}

.picture-list ul li img {
  width: 225px;
  height: 135px;
}

.mask {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .9);
  z-index: 100;
}
.mask .close-pic{
  position: absolute;
  right: 200px;
  font-size: 60px;
  top: 23px;
  color: #666;
  cursor: pointer;
}
.mask .close-pic:hover{
  color: #ccc; 
}